{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>success</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
      <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<body>


  <section class="service_section layout_padding">
    <div class="FormAccpet">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
             Form Request <span>Accepted</span>
          </h2><br><br>
          <p>
          Come new customer. Your form has been Accepted. After some time your account will be created.

If you have an account with this bank. This provides more helpful financial opportunities.

If you want to go to hom
          </p>
        </div>
        <div class="btn-box">
          <a href="{% url 'bankapp:homepage' %}">
            Home Page
          </a>
        </div>
         <pre>



          </pre>
      </div>
    </div>
  </section>

<!-- bootstrap js -->
  <script type="text/javascript" src="{%static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{%static 'js/bootstrap.min.js' %}"></script>
   <script type="text/javascript" src="{%static 'js/popper.min.js' %}"></script>

  <section class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="{% static 'https://html.design/' %}">Federal Trust Bank</a>
      </p>
    </div>
  </section>
</body>
</html>

